                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">후기 등록</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
                                     <form class="form-horizontal">
                                      <fieldset>
                                        <div class="control-group">
                                          <label class="control-label" for="focusedInput">제목</label>
                                          <div class="controls">
                                            <input class="input-xlarge focused" id="focusedInput" type="text" value="">
                                          </div>
                                        </div>
                                        <div class="control-group">
                                          <label class="control-label">내용</label>
                                          <div class="controls">
                                            <textarea class="input-xlarge textarea" placeholder="Enter text ..." style="width: 810px; height: 200px"></textarea>
                                            <span class="help-inline">HTML 사용 가능.</span>
                                          </div>
                                        </div>
                                        <div class="control-group">
                                          <label class="control-label">해당 멘토링</label>
                                          <div class="controls">
                                            <select id="selectError">
                                              <option>가을 전격 농활 체험</option>
                                              <option>겨울 전격 농활 체험</option>
                                            </select>
                                          </div>
                                        </div>

                                        <div class="form-actions">
                                          <button type="submit" class="btn btn-primary">Register</button>
                                          <button type="reset" class="btn">Cancel</button>
                                        </div>
                                      </fieldset>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>



<h1>Admin::Reviews#new</h1>
<%= render 'form' %>
