// Place all the styles related to the faq controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.faq-title {
  font-family: "NanumGothicWeb";
  font-size: 12pt;
  font-weight: 100;
  color: #000;
  padding-left: 12px;
  line-height: 46px;
}

